
.Saleitem {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
}

.sale-card {
    position: relative;
    display: inline-block;
}

.sale-card img {
    width: 180px;
    height: auto;
    display: block;
    margin: 20px;
}

 .Icons {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
    align-items: flex-start;
} 



.top-header1 {
    background-color: #000;
    color: #e5e5e5;
    width: 100%;
    font-size: 14px;
    padding: 10px;
    text-align: center;
}

.top-header1 .LANG {
    font-size: 12px;
    color: #cfcfcf;
    margin-left: 15px;
}

.header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    width: 80%;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.logo1 {
    font-size: 20px;
    font-weight: 800;
}

.nav-menu1 {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 10px;
    flex-wrap: wrap;
}

.nav-menu1 li {
    cursor: pointer;
}

.search-box1 .search-input {
    padding: 8px 15px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #ccc;
}

.dashboard-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #000;
    width: 100%;
    padding: 30px 20px;
    color: white;
    box-sizing: border-box;
    gap: 20px;
    margin-top: 60px;
}

.dashboard-footer h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.dashboard-footer p {
    margin: 4px 0;
}

.icon-container {
  display: flex;
  gap: 10px;
  align-items: center; 
}
.hicons {
  font-size: 24px; 
 cursor: pointer;
}



.Todays {
  display: flex;           
  align-items: center;    
  gap: 20px;               
  font-weight: bold;      
}

.Todays h1 {
  font-size: 24px;         
  margin: 0;               
}

.Todays .countdown {
  display: flex;           
  gap: 10px;              
}

.hicons {
  position: relative; 
  cursor: pointer;
}

.hicons span {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
}
